{% extends "main.j2" %}

{% block content %}
<h1 class="title">Create {{ group_type|capitalize }} group</h1>

<div class="box" style="max-width: 600px;">
  <div class="field">
    <label class="label">Group name</label>
    <input id="group_name" class="input" type="text" value="{{ request.args.get('name') }}">
  </div>

  <button class="button is-primary" onclick="createGroup()">Create group</button>
</div>

<script>
async function createGroup() {
    const name = document.getElementById("group_name").value.trim();

    await apiRequest("POST", "/api/v1/inventory/group", {
        name: name,
        group_type: "{{ group_type }}"
    });

    window.location.href = "/inventory/group/list";
}
</script>
{% endblock %}
