{% extends "main.j2" %}

{% block controlbar %}
  <span style="color: var(--overlord-hover-accent); font-weight: bold;">Trace</span> 
  <span style="margin-left: 8px;"><a href="/inventory">Inventory</a> / <a href="/inventory/group">Group</a> / Add / Rack</span>
{% endblock %}

{% block headertitle %}
  <h1 class="title is-4">Create rack group {{ name }}</h1>
  <p class="subtitle is-6">Create a group to organize hosts by rack in the IT room.</p>
{% endblock %}

{% block content %}

  <div class="box" style="max-width: 600px;">
    <div class="field">
      <label class="label">Group name</label>
      <input id="group_name" class="input" type="text" value="{{ request.args.get('name') }}">
    </div>

    <button class="button is-primary" onclick="createGroup()">Create group</button>
  </div>

  <script>
  async function createGroup() {
      const name = document.getElementById("group_name").value.trim();

      // Enforce fn_ prefix
      if (!name.startsWith("rack_")) {
          showNotification("is-danger", "Reack group names must start with 'rack_'");
          return;
      }

      await apiRequest("POST", "/api/v1/inventory/group", {
          [name]: {
            group_type: "rack"
          }
      });

      window.location.href = "/inventory/group/list";
  }
  </script>
{% endblock %}
