{% extends "main.j2" %}

{% block content %}
<h1 class="title">Edit Rack group: {{ name }}</h1>

<div class="box" style="max-width: 600px;">
  <div class="field">
    <label class="label">Group name</label>
    <input id="group_name" class="input" type="text" value="{{ name }}" disabled>
  </div>

  <button class="button is-primary" onclick="saveGroup()">Save</button>
</div>

<script>
async function saveGroup() {
    await apiRequest("PUT", "/api/v1/inventory/group/{{ name }}", {
        [name]: {
          group_type: "rack"
        }
    });

    window.location.href = "/inventory/group/list";
}
</script>
{% endblock %}
