{% extends "main.j2" %}

{% block controlbar %}
  <span style="color: var(--overlord-hover-accent); font-weight: bold;">Trace</span> 
  <span style="margin-left: 8px;"><a href="/inventory">Inventory</a> / <a href="/inventory/group">Group</a> / Details / Custom</span>
{% endblock %}

{% block headertitle %}
  <h1 class="title is-4">Edit Custom group {{ name }}</h1>
{% endblock %}

{% block content %}

<div id="custom-box" class="box" style="max-width: 800px;">
  Loading...
</div>

<script>
async function loadGroup() {
    const data = await apiRequest("GET", "/api/v1/inventory/group/{{ name }}");
    const g = data.group["{{ name }}"]["vars"]["custom"];

    const container = document.getElementById("custom-box");

    container.innerHTML = `
        <div class="field">
            <label class="label">Group name</label>
            <input class="input" type="text" value="{{ name }}" disabled>
        </div>

        <div class="field">
            <label class="label">Custom variables (YAML)</label>
            <textarea id="custom_vars" class="textarea" rows="12">${g.custom_vars || ""}</textarea>
        </div>

        <button class="button is-primary" onclick="saveGroup()">Save</button>
    `;
}

async function saveGroup() {
    await apiRequest("PUT", "/api/v1/inventory/group/{{ name }}", {
        [name]: {
            group_type: "custom",
            vars: {
                custom: {
                    custom_vars: document.getElementById("custom_vars").value,
                }
            }
        }
    });

    window.location.href = "/inventory/group/list";
}

loadGroup();
</script>
{% endblock %}
