{% extends "main.j2" %}

{% block controlbar %}
  <span style="color: var(--overlord-hover-accent); font-weight: bold;">Trace</span> 
  <span style="margin-left: 8px;"><a href="/inventory">Inventory</a> / <a href="/inventory/host">Host</a> / Delete</span>
{% endblock %}

{% block headertitle %}
  <h1 class="title is-4">Delete Host: {{ hostname }}</h1>
  <p class="subtitle is-6">Confirmation.</p>
{% endblock %}

{% block content %}

  <div class="notification is-warning">
    Are you sure you want to delete host <strong>{{ hostname }}</strong>?
  </div>

  <button class="button is-danger" onclick="deleteHost()">Delete</button>
  <a class="button" href="/inventory/host/list">Cancel</a>

  <script>
  async function deleteHost() {
      await apiRequest("DELETE", "/api/v1/inventory/host/{{ name }}");
      window.location.href = "/inventory/host/list";
  }
  </script>

{% endblock %}
