{% extends "main.j2" %}

{% block controlbar %}
  <span style="color: var(--overlord-hover-accent); font-weight: bold;">Trace</span> 
  <span style="margin-left: 8px;"><a href="/inventory">Inventory</a> / <a href="/inventory/user">User</a> / Delete</span>
{% endblock %}

{% block headertitle %}
  <h1 class="title is-4">Delete User: {{ name }}</h1>
  <p class="subtitle is-6">Confirmation.</p>
{% endblock %}

{% block content %}

  <div class="notification is-warning">
    Are you sure you want to delete user <strong>{{ name }}</strong>?
  </div>

  <button class="button is-danger" onclick="deleteUser()">Delete</button>
  <a class="button" href="/inventory/user/list">Cancel</a>

  <script>
  async function deleteUser() {
      await apiRequest("DELETE", "/api/v1/inventory/user/{{ name }}");
      window.location.href = "/inventory/user/list";
  }
  </script>

{% endblock %}
