{% extends "main.j2" %}

{% block controlbar %}
  <span style="color: var(--overlord-hover-accent); font-weight: bold;">Trace</span> 
  <span style="margin-left: 8px;"><a href="/production">Production</a></span>
{% endblock %}

{% block headertitle %}
  <h1 class="title is-4">Production</h1>
  <p class="subtitle is-6">Main production page.</p>
{% endblock %}

{% block content %}

HelloWorld Production

{% endblock %}
